*{
    margin: 0%;
    padding: 0%;
    
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

}

header{
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 9.625rem;
    justify-content: space-between;
    align-items: center;
    background: #1A1A1A;

    img{
        width: 18rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5%;
        

    }

    nav{
        margin-right: 5%;

        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4.1875rem;
            flex-shrink: 0;
            
            li{
                list-style: none;
            }

            a{
                color: #FFF;
                font-family: "Roboto Slab";
                font-size: 1.8125rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration: none;
                
            }

            a:hover {
                background-color: #5E6A38;
                border-radius: 0.5rem;
                padding: 5px 20px;
                
            }
        }
    }
}
.index{
    .seccion1{
        
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img{

            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .bajada{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            position: absolute;
            padding-left: 5%;


            h1{
                color: #F5F5DC;
                font-family: "Roboto Slab";
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            h2{
                padding: 10px 50px;
                color: #F5F5DC;
                text-align: center;
                font-family: "Roboto Slab";
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                background-color: #5E6A38;
                border-radius: 1.0625rem;
            }
        }
    }

    .seccion2{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-shrink: 0;
        background: #F5F5DC;
        padding-top: 10%;
        padding-bottom: 5%;
        

        
        img{
            display: flex;
            width: 40%;
            height: auto;
            justify-content: center;
            align-items: flex-start;
            flex-shrink: 0;
            border-radius: 2.5rem;
            max-width: 500px;


        }

        .presentacion{
            width: 40%;
            flex-shrink: 0;


            h3{
                color: #5E6A38;
                font-family: "Roboto Slab";
                font-size: 3rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom:30px ;
            }

            p{
                display: block;
                color: #1A1A1A;
                font-family: "Inter", sans-serif;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }


    .seccion3 {

        color: #1A1A1A;
        font-family: "Inter", sans-serif;
        padding-top: 5%;
        padding-bottom: 5%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: #F5F5DC;

        p{
            width: 70%;
            font-size: 1.5rem;
            justify-content: center;
        }


        
    }
    



    .seccion4{
        display: flex;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-shrink: 0;
        background: #F5F5DC;


        .texto{
            width: 40%;
            h3{
                color: #5E6A38;
                font-family: "Roboto Slab";
                font-size: 3rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom:10px ;
            }

            h4{
                color: #5E6A38;
                font-family: "Roboto Slab";
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom:50px ;
            }

            h5{
                color: #5E6A38;
                font-family: "Roboto Slab";
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom:10px ;
            }

            ul{
                display: block;
                color: #1A1A1A;
                font-family: "Inter", sans-serif;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                
                li{
                    margin-bottom: 10px;
                }
            }
        }
        
        img{
            display: flex;
            width: 40%;
            height: auto;
            justify-content: center;
            align-items: flex-start;
            flex-shrink: 0;
            border-radius: 2.5rem;
            max-width: 500px;


        }


    }

    .seccion5{
        display: flex;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        justify-content: center;
        align-items: center;
        gap: 5%;
        flex-shrink: 0;
        background: #F5F5DC;

        img{
            display: flex;
            width: 40%;
            height: auto;
            justify-content: center;
            align-items: flex-start;
            flex-shrink: 0;
            border-radius: 2.5rem;
            max-width: 500px;


        }


        .texto{
            width: 40%;
            h3{
                color: #5E6A38;
                font-family: "Roboto Slab";
                font-size: 3rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom:50px ;
            }

            h4{
                color: #5E6A38;
                font-family: "Roboto Slab";
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                
            }



            p{
                display: block;
                color: #1A1A1A;
                font-family: "Inter", sans-serif;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding-bottom: 10px;
            }
        }
        



    }
}
.progress-bar {
    width: 100%;
    max-width: 80%;
    background-color: #1A1A1A;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 5px;
}
.progress {
    height: 30px;
    background-color: #5E6A38;
    width: 0;
    border-radius: 25px 25px 25px 25px;
}
@keyframes load {
    to {
    width: var(--progress-width);
    }
}
.progress-bar .progress {
    animation: load 5s forwards;



}

.formulario{
    main{
        width: 100%;    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(245, 245, 220, 1);
        padding-top: 9.625rem;;
        padding-bottom: 10%;

        h2{
            color: #5E6A38;
            font-family: "Roboto Slab";
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom:50px ;
        }
    }
    
    form{
        display: flex;
        flex-direction: row;
        gap: 10%;
    }

    .form-group{
        display: flex;
        flex-direction: column;
    }

    .mensaje{
        display: flex;
        flex-direction: column;
    }

    input{
        border-radius: 0.3125rem;
        background: #5E6A38;
        border: none;
        width: 400px;
        height: 30px;
    }


    .datos{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mensaje{
        display: flex;
        flex-direction: column;
        gap: 10%;

        textarea{
            border-radius: 0.3125rem;
            background: #5E6A38;
            border: none;
            width: 400px;
            height: 250px;
        }

        button{
            display: flex;
            padding: 0.375rem 1.25rem;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 80px;
            background: #5E6A38;
            border: none;
            border-radius: 0.3125rem;
            color: #F5F5DC;
            text-align: center;
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
            transition: 0.2s;
        }

        button:hover{
            background:#F5F5DC;
            color:#5E6A38;
        }
    }

    label{
        color: #1A1A1A;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.galeriamain{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color:  #F5F5DC;;
    
    .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        width: 60%;
        margin: 0 auto;
        background-color: #5E6A38;
        padding: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .galeria a {
        display: block;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .galeria a:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    .galeria img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }
}
.elprincipito{
    background-color: #1A1A1A;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imagenes{
            img{
                width: 100%;
                height: auto;
            }
        }
        .boton{
            background-color: #1A1A1A; 
            padding-bottom: 30px;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                width: 300px;
                height: 70px;
                background: #5E6A38;
                border: none;
                border-radius: 0.3125rem;
                color: #F5F5DC;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                transition: 0.2s;
            }

            button:hover{
                background:#F5F5DC;
                color:#5E6A38;
            }
        }
    }
}
.nomada{
    background-color: #1A1A1A;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imagenes{
            img{
                width: 100%;
                height: auto;
            }
        }
        .boton{
            background-color: #1A1A1A; 
            padding-bottom: 30px;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                width: 300px;
                height: 70px;
                background: #5E6A38;
                border: none;
                border-radius: 0.3125rem;
                color: #F5F5DC;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                transition: 0.2s;
            }

            button:hover{
                background:#F5F5DC;
                color:#5E6A38;
            }
        }
    }
}
.reikawakubo{
    background-color: #1A1A1A;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imagenes{
            img{
                width: 100%;
                height: auto;
            }
        }
        .boton{
            background-color: #1A1A1A; 
            padding-bottom: 30px;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                width: 300px;
                height: 70px;
                background: #5E6A38;
                border: none;
                border-radius: 0.3125rem;
                color: #F5F5DC;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                transition: 0.2s;
            }

            button:hover{
                background:#F5F5DC;
                color:#5E6A38;
            }
        }
    }
}
.jordan{
    background-color: #1A1A1A;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imagenes{
            img{
                width: 100%;
                height: auto;
            }
        }
        .boton{
            background-color: #1A1A1A; 
            padding-bottom: 30px;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                width: 300px;
                height: 70px;
                background: #5E6A38;
                border: none;
                border-radius: 0.3125rem;
                color: #F5F5DC;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                transition: 0.2s;
            }

            button:hover{
                background:#F5F5DC;
                color:#5E6A38;
            }
        }
    }
}
.afichefigurativo{
    background-color: #1A1A1A;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imagenes{
            img{
                width: 100%;
                height: auto;
            }
        }
        .boton{
            background-color: #1A1A1A; 
            padding-bottom: 30px;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                width: 300px;
                height: 70px;
                background: #5E6A38;
                border: none;
                border-radius: 0.3125rem;
                color: #F5F5DC;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                transition: 0.2s;
            }

            button:hover{
                background:#F5F5DC;
                color:#5E6A38;
            }
        }
    }
}
.ilustraciones{
    background-color: #1A1A1A;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imagenes{
            img{
                width: 100%;
                height: auto;
            }
        }
        .boton{
            background-color: #1A1A1A; 
            padding-bottom: 30px;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                width: 300px;
                height: 70px;
                background: #5E6A38;
                border: none;
                border-radius: 0.3125rem;
                color: #F5F5DC;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                transition: 0.2s;
            }

            button:hover{
                background:#F5F5DC;
                color:#5E6A38;
            }
        }
    }
}

.footer{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;

    
    
    .logofooter{
        margin-top: 50px;
        img{
            width: 250px;
            height: auto;
            
        }
    }
    
    .informacion{
        h2{
            font-family: "Roboto Slab";
            font-weight: 400;
            color:#F5F5DC;
            font-size: 20px
            
        }

        p{
            font-family: "Inter", sans-serif;
            color:#F5F5DC;
            margin-bottom: 20px;

        }
    }

    .botonerafooter{

        
        h2{
            font-family: "Roboto Slab";
            margin-bottom: 10px;
            font-weight: 400;
            color:rgb(245, 245, 220);
            font-size: 20px
            
        }
        button{
            background-color: rgb(18, 18, 19);
            border: none;
            cursor: pointer;
            border-radius: 10px;
            margin-right: 10px;
        }

        img{
            width: 35px;
            height: auto;
            margin: 5px;
            
        }
        
        .gracias{
            margin-top: 60px;
            
        }
    }


}

@media screen and (max-width: 600px) {
    
    header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        nav{
            margin: 0%;
        }

        img{
            padding: 0%;
        }
    }
    .index{
        .seccion2{
            display: flex;
            flex-direction: column;

            img{
                display: none;
            }

            .presentacion{
                width: 80%;
            }


        }

        .seccion4{

            img{
                display: none;
            }

            .texto{
                width:80%;
            }
        }

        .seccion5{
            img{
                display: none;
            }

            .texto{
                width:80%;
            } 
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        
        height: auto;
        

        .logofooter{
            padding-bottom: 50px;
            margin-left: 10%;
        }

        .informacion{
            padding-bottom: 50px;
            margin-left: 10%;
        }

        .botonerafooter{
            padding-bottom: 50px;
            margin-left: 10%;
        }
    }
    .formulario{
        main{

            form{
                flex-direction: column;
                gap: 50px;
            }
        }
    }
}


 